@charset "UTF-8";

/* 共通部分 */
body {
    margin: 0 auto;
    padding: 0;
    font-family: 'DotGothic16', sans-serif;
}
img {
    max-width: 100%;
}
a {
    text-decoration: none;
}
/* --------------------- */
/* start-page */
#home {
    background-image: url("../images/pipo-battlebg004.jpg");
    min-height: 100vh;
}
/* 背景画像処理 */
.home_bg {
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
}
/* テキストの大文字小文字設定しない */
#home .home_title {
    text-transform: none;
}
.home_content {
    text-align: center;
}
.home_title {
    margin-top: 0;
    padding-top: 20%;
    align-self: start;
    text-align: center;
    /* このフォントはすべて大文字になるので注意 */
    font-family: 'Bangers', cursive;
    font-size: 150px;
    /* テキストをグラデーションにする */
    background: linear-gradient(to bottom right, red,blue);
    -webkit-background-clip: text;
    color: transparent;
;
}
/* クリックした時に少しプッシュしたような動きになる処理 */
.button {
    transition: 0.2ms;
    display: inline-block;
    width: auto;
    text-align: center;
    background-color: #FFFF00;
    border: none;
    font-size: 50px;
    color: red;
    font-weight: bold;
    padding: 10px 24px;
    /* 影をつける */
    box-shadow: 0 12px #aaaa0b;
    /* 角を丸くする */
    border-radius:10px;
}
.button:active {
    transform: translateY(6px);
}
/* ボタンの外枠を消す */
.button:focus {
    outline:none;
}
/* ボタンデザイン */
#start_btn {
}
/* --------------------- */
/* name_setpage */
#name_page {
    background-image: url("../images/pipo-battlebg001a.jpg");
    min-height: 100vh;
    text-transform: none;
}
.name_title {
    margin-top: 0;
    padding-top: 20%;
    align-self: start;
    text-align: center;
    font-size: 30px;
}
.set_game {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.set_game input {
    font-family: 'DotGothic16', sans-serif;
    font-size: 40px;
    margin-top: 20px;
}
/* --------------------- */
/* game.php */
.fight_title {
    margin-top: 10%;
    align-self: start;
    text-align: center;
    font-weight: bold;
    font-size: 150px;
    /* テキストをグラデーションにする */
    background: linear-gradient(to bottom right, red,rgb(250, 233, 2));
    -webkit-background-clip: text;
    color: transparent;
}
.attack_q {
    margin-top: -6%;
    display: grid;
    grid-template-areas: 
        "box1 box2 box3"
        "box4 box2 box3"
    ;
    justify-content: center;
    gap: 30px;
}
.attack_q p {
    font-size: 30px;
}
.q_name {
    grid-area: box1;
    align-self: start;
}
.q_skill {
    align-self: end;
    grid-area: box1;
    margin-top: 76px;
}
#attack_form {
    display: flex;
    flex-direction: column;
    grid-area: box2;
}
#attack_select {
    margin: auto;
    font-size: 30px;
    font-family: 'DotGothic16', sans-serif;
}
#attack_button {
    margin: auto;
    margin-top: 20%;
    font-size: 40px;
    font-family: 'DotGothic16', sans-serif;
}
.match_report {
    display: flex;
    justify-content: center;
}
.result {
    font-size: 80px;
}