@charset "UTF-8";

/* 共通部分 */
body {
    margin: 0 auto;
    padding: 0;
    font-family: 'DotGothic16', sans-serif;
}
img {
    max-width: 100%;
}
a {
    text-decoration: none;
}
/* --------------------- */
/* start-page */
#home {
    background-image: url("../images/back1.jpg");
}
/* 背景画像処理 */
.home_bg {
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    min-height: 100vh;
    text-transform: none;
}
/* テキストの大文字小文字設定しない */
#home .top_title  {
    text-transform: none;
}
.home_content {
    text-align: center;
}
.top_title {
    margin-top: 0;
    padding-top: 20%;
    align-self: start;
    text-align: center;
    /* このフォントはすべて大文字になるので注意 */
    font-family: 'Bangers', cursive;
    font-size: 150px;
    /* テキストをグラデーションにする */
    background: linear-gradient(to bottom right, red,blue);
    -webkit-background-clip: text;
    color: transparent;
;
}
/* クリックした時に少しプッシュしたような動きになる処理 */
.btn {
    transition: 0.2ms;
    display: inline-block;
    width: auto;
    text-align: center;
    background-color: #FFFF00;
    border: none;
    font-family: 'DotGothic16', sans-serif;
    font-size: 50px;
    color: red;
    font-weight: bold;
    padding: 10px 24px;
    /* 影をつける */
    box-shadow: 0 12px #aaaa0b;
    /* 角を丸くする */
    border-radius:10px;
    /* 一番前へ */
    z-index: 9999999;
}
.button:active {
    transform: translateY(6px);
}
/* ボタンの外枠を消す */
.button:focus {
    outline:none;
}

/* --------------------- */
/* name_setpage */
#name_page {
    background-image: url("../images/back2.jpg");
    min-height: 100vh;
    text-transform: none;
}
.name_title {
    margin-top: 0;
    padding-top: 20%;
    align-self: start;
    text-align: center;
    font-size: 30px;
}
.set_game {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.set_game input {
    font-family: 'DotGothic16', sans-serif;
    font-size: 40px;
    margin-top: 20px;
    text-transform: none;
}
.txt_flame {
    background: rgba(255, 255, 255, 0.65);
    border:4px solid black;
    border-radius: 5px;
}

/* --------------------- */
/* game.php */
#game_page {
    background-image: url("../images/back3.jpg");
}
.character {
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.enemy_right {
    margin-right: 3%;
}
#fight_title {
    font-size: 150px;
    /* テキストをグラデーションにする */
    background: linear-gradient(to bottom right, red,rgb(250, 233, 2));
    -webkit-background-clip: text;
    font-family: 'Bangers', cursive;
    color: transparent;
    margin-bottom: 0;
}
.attack_q {
    margin-top: 0;
    display: grid;
    grid-template-areas: 
        "box1 box2 box3"
        "box4 box2 box3"
    ;
    justify-content: center;
    gap: 30px;
}
.attack_q p {
    font-size: 30px;
}
.q_name {
    grid-area: box1;
    align-self: start;
}
.q_skill {
    align-self: end;
    grid-area: box1;
    margin-top: 76px;
}
#attack_form {
    display: flex;
    flex-direction: column;
    grid-area: box2;
}
#attack_select {
    z-index: 9999999;
    margin: auto;
    font-size: 30px;
    font-family: 'DotGothic16', sans-serif;
}
.attack_btn {
    margin: auto;
    margin-top: 20%;
    font-size: 40px;
}
.match_report {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    font-size: 20px;
    margin-top: -4%;
}
.match_report p {
    margin: 10px 20px 0 20px;
}
.heart_point {
    display: flex;
    justify-content: space-between;
    font-size: 30px;
    font-weight: bold;
    margin: 10px 20px;
    color: tomato;
}
.result_txt {
    z-index: 9999999;
    font-size: 50px;
    color: blue;
    text-align: center;
    margin-top: 0;
    line-height: 50%;
    text-transform: none;
}
#back_btn {
    position: relative;
    margin-top: 5%;
    font-size: 24px;
}